altgraph==0.17.4
arcade==2.6.17
attrs==23.2.0
mypy==1.8.0
mypy-extensions==1.0.0
numpy~=1.23.5
packaging==23.2
pefile==2023.2.7
Pillow==9.3.0
pycparser==2.21
pyglet==2.0.dev23
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pymunk~=6.4.0
pytiled-parser==2.2.0
pywin32-ctypes==0.2.2
typing_extensions==4.9.0
pluggy==1.5.0
anyio==3.6.2
pytest~=8.2.0
six~=1.16.0
setuptools~=70.0.0
gym~=0.26.2
flake8==7.0.0
black==24.4.2
torch~=2.3.0
matplotlib~=3.7.1
scikit-learn~=1.5.0
ipython~=8.20.0
stable-baselines3==2.2.1
neat-python==0.92
cffi==1.16.0
