altgraph==0.17.4
arcade==2.6.17
attrs==23.2.0
black==23.11.0
cffi==1.16.0
click==8.1.7
colorama==0.4.6
exceptiongroup==1.2.1
flake8==6.0.0
iniconfig==2.0.0
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
neat-python==0.92
numpy==1.26.3
packaging==23.2
pathspec==0.12.1
pefile==2023.2.7
Pillow==9.3.0
platformdirs==4.2.2
pluggy==1.5.0
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
pyglet==2.0.dev23
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pymunk==6.4.0
pytest==8.2.0
pytiled-parser==2.2.0
pywin32-ctypes==0.2.2
tomli==2.0.1
typing_extensions==4.9.0
